<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Lista de Usuarios</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Login</th>
                    <!-- <th>Senha</th> -->
                    <th>CPF</th>
                    <th>Data de nascimento</th>
                    <th>Sexo</th>
                    <th>Estado civil</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios | async">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.login}}</td>
                    <!-- Medidas de segurança -->
                    <!-- <td >{{usuario.senha}}</td> -->
                    <td>{{usuario.cpf}}</td>
                    <td>{{usuario.dataNascimento}}</td>
                    <td>{{usuario.sexo}}</td>
                    <td>{{usuario.estadoCivil}}</td>
                    <td><button (click)= "deleteUsuario(usuario.id)" class="btn btn-danger">Delete</button>
                        <button (click)= "updateUsuario(usuario.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>